{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h2 class="mb-4">
    Welcome, {{ session["username"] }}
</h2>

<p class="text-muted">
    Role: <strong>{{ session["role"]|title }}</strong>
</p>

<div class="row mb-4">

    <div class="col-md-4 mb-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5 class="card-title">👥 Total Users</h5>
                <h2>{{ total_users }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5 class="card-title">👑 Administrators</h5>
                <h2>{{ total_admins }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5 class="card-title">👤 Regular Users</h5>
                <h2>{{ total_regular_users }}</h2>
            </div>
        </div>
    </div>

</div>

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        <h4>Quick Actions</h4>
    </div>

    <div class="card-body">

        <div class="d-grid gap-2 d-md-flex">

            <a href="{{ url_for('profile') }}"
               class="btn btn-warning">
                Edit Profile
            </a>

           <a href="{{ url_for('audit_log') }}"
              class="btn btn-dark">
                Audit Trail
            </a>

            <a href="{{ url_for('change_password') }}"
               class="btn btn-info">
                Change Password
            </a>

            <a href="{{ url_for('users') }}"
               class="btn btn-success">
                View Users
            </a>

            {%  if session.get("role") == "admin" %}
            <a href="{{ url_for('add_user') }}"
              class="btn btn-primary">
                 Add User
            </a>
            {% endif %}

            <a href="{{ url_for('logout') }}"
               class="btn btn-danger">
                Logout
            </a>

        </div>

    </div>

</div>

{% endblock %}
