{% extends "base.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}

<h2 class="mb-4">Edit User</h2>

<form method="POST">

    <div class="mb-3">
        <label class="form-label">Username</label>

        <input
            type="text"
            name="username"
            class="form-control"
            value="{{ user[0] }}"
            required>
    </div>

    <div class="mb-3">

        <label class="form-label">Role</label>

        <select
            name="role"
            class="form-select">

            <option value="user"
            {% if user[1] == "user" %}selected{% endif %}>
                User
            </option>

            <option value="admin"
            {% if user[1] == "admin" %}selected{% endif %}>
                Admin
            </option>

        </select>

    </div>

    <button class="btn btn-success">
        Save Changes
    </button>

    <a href="{{ url_for('users') }}"
       class="btn btn-secondary">
        Cancel
    </a>

</form>

{% endblock %}
